.city path {
  fill: var(--text-color)
}

.city{
  scale: .25;
  filter: drop-shadow( 0 0 40px rgba(31, 46, 130, .5))
} 

@media (prefers-color-scheme: dark) {
  .city{
    filter: drop-shadow( 0 0 40px rgba(92, 252, 0, .5))
  }
}