.content{
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--bg-color);
  padding:10px;
}

.text p{
  font-family: var(--font-p);
  color: var(--text-color);
  max-width: 400px;
  line-height: 1.5;
  text-shadow: 0 0 10px var(--text-color);
}

.text a{
  color: var(--text-color)
}

.blinking{
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}